<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./partials/head.ejs') %>
    <title>login</title>
  </head>
  <body>
    <!-- NavBar -->
    <%- include('./partials/navbar.ejs') %>
    <!-- NavBar -->
    <% if (locals.error) { %>
    <div class="alert alert-danger" role="alert"><%= locals.error %></div>
    <% } %>
    <div class="vh-100 d-flex justify-content-center align-items-center">
      <div class="col-10 col-lg-6">
        <form
          class="border border-2 bg-light"
          action="/api/v1/auth/login"
          method="post"
        >
          <h1 class="text-center mt-2">Login</h1>
          <div class="p-5">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="email"
                name="email"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <div class="mb-3 form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="exampleCheck1"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Check me out</label
              >
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Footer -->
    <%- include('./partials/foot.ejs') %>
    <!-- Footer -->

    <%- include('./partials/script.ejs') %>
  </body>
</html>
